.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doubleColor {
  background: linear-gradient(78deg, #17ead9, #6078ea)!important;
}
.doubleColor1 {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  /* background: #ea7d17;
  background: -webkit-linear-gradient(45deg, #f5b67b, #fe36d9)!important; */
  background: linear-gradient(78deg, rgba(253,193,112), rgba(217,59,99))!important;
}
.doubleColor2 {
  width: 7px;
  height:7px;
  border-radius: 50%;
  /* background: #0ed2c2;
  background: -webkit-linear-gradient(45deg, #94f8ef, #0ed2c2)!important; */
  background: linear-gradient(78deg, rgba(192,254,207), rgba(30,213,169))!important;
}
.thisWeek {
  /* background: #ea7d17;
  background: -webkit-linear-gradient(45deg, #f5b67b, #fe36d9)!important; */
  background: linear-gradient(78deg, rgba(253,193,112), rgba(217,59,99))!important;
}
.allTime {
  /* background: #0ed2c2;
  background: -webkit-linear-gradient(45deg, #94f8ef, #0ed2c2)!important; */
  background: linear-gradient(78deg, rgba(192,254,207), rgba(30,213,169))!important;
}


.slider-container {
  position: relative;
}

.slider-wrapper {
  backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  background-color: rgba(255, 255, 255, 0.39); /* Adjust the background color and opacity as needed */
}
.banner-bg {
  backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  background-color: rgba(64, 64, 64, 0.632); /* Adjust the background color and opacity as needed */
}

.bg-bars-container {
  position: relative;
  overflow: hidden;
}

.bg-bars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: white;
}

.bar {
  position: absolute;
  background-color: #2b8bf3;
  width: 4px; /* Adjust width as needed */
  bottom: 0;
}


/* App.css or relevant CSS file */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  background: #000;
  border-radius: 10px;
  padding: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

